img.emoji-icon {
  margin: 0;
}

h2 > a {
  text-decoration: none;
}

.button {
  background-color: #fff;
  color: #0d47a1;
  padding: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  line-height: 0;
  user-select: none;
}

.button:hover {
  background-color: #eee;
}

.button--large {
  min-height: 56px;
  min-width: 180px;
  font-size: 1.3rem;
  padding: 8px 16px;
}

.button--primary {
  background-color: #306b7b;
  color: #fff;
}

.button--primary:hover {
  background-color: #1f4d5a;
}

.button img {
  margin: 0 4px;
}

.button i {
  margin: 0 4px;
}

.button-toolbar {
  padding: 16px 0 16px 4px;
  display: flex;
  justify-content: center;
}

.button-toolbar > .button {
  margin: 0 8px;
}

.button-toolbar > .button:first-child {
  margin-left: 0;
}

.button-toolbar > .button:last-child {
  margin-right: 0;
}

.icon-button {
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  user-select: none;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.icon-button--danger {
  color: #b71c1c;
}

.table-of-content-section {
  padding: 24px 0;
  background-color: #efefef;
}

.table-of-content-section ol {
  margin: 0;
}

.table-of-content-section li {
  list-style-type: none;
  padding: 8px 8px;
  margin-bottom: 0;
}

.table-of-content-section li a {
  display: block;
  padding: 4px 16px;
}

.table-of-content-inner-container {
  max-width: 300px;
  margin: 0px auto;
}

.toc-link {
  color: #000;
  text-decoration: none;
  border-left: 3px solid transparent;
}

.toc-link.toc-link--active {
  color: #0d47a1;
  font-weight: bold;
  border-left: 3px solid #0d47a1;
}

.instruction-template-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.instruction-template-nav--top {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
}

.instruction-article,
.instruction-template-nav {
  margin-right: 250px;
}

.instruction-template .table-of-content-section {
  position: fixed;
  top: 64px;
  bottom: 0;
  right: 0px;
}

blockquote {
  background: #efefef;
}

.navbar {
  background: #61dafb;
  padding: 8px 16px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.navbar > a {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans serif';
  text-decoration: none;
  color: black;
}

.navbar-toolbar {
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-toolbar > .icon-button {
  margin: 0 8px;
}

.navbar-toolbar > .icon-button:first-child {
  margin-left: 0;
}

.navbar-toolbar > .icon-button:last-child {
  margin-right: 0;
}

.main-container {
  padding: 64px 32px 32px;
}

.report-issue-link-container {
  text-align: center;
}

.report-issue-link {
  background: #b71c1c;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 16px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.report-issue-link:hover {
  background: #7f0000;
}

.report-issue-link i {
  text-decoration: none;
  margin-right: 4px;
}

.landing-page-header {
  display: flex;
  height: 100vh;
  background: #282c34;
}

.landing-page-content {
  position: relative;
}

.landing-page-content .button-toolbar {
  padding: 16px;
}

.landing-page-content article,
.landing-page-content .button-toolbar {
  margin-right: 250px;
}

.landing-page-content article {
  padding-top: 32px;
}

.landing-page .table-of-content-section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  padding-right: 32px;
}

.logo-section,
.landing-title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title-container .button-toolbar {
  align-self: flex-start;
}

@keyframes moving-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 60px;
  }
}

.landing-title-container .button--primary:hover,
.landing-title-container .button--primary:focus {
  background-color: #306b7b;
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1) 75%,
    transparent 75%,
    transparent
  );
  animation: moving-background 2s linear 0s infinite normal none running;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80vmax;
  display: inline-block;
  margin-bottom: 0;
}

.github-logo-container {
  line-height: 0;
}

.github-logo {
  margin: 0;
}

.landing-title {
  font-size: 6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #61dafb;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #bbb;
  padding-right: 16px;
  transform: translateY(20px);
}

@media screen and (max-width: 700px) {
  .landing-title-container {
    flex: 2;
  }

  .landing-page-header {
    flex-flow: column-reverse;
    height: 60vh;
  }

  .landing-title {
    font-size: 3rem;
    margin-top: 16px;
    padding: 8px;
    text-align: center;
  }

  #react-logo {
    height: 100px;
  }

  .button--large {
    min-width: auto;
    min-height: 36px;
    font-size: 1.1rem;
  }

  .button-toolbar .button {
    flex: 1;
  }

  .landing-title-container .button-toolbar {
    align-self: auto;
  }

  .button-toolbar {
    padding: 8px;
  }

  .landing-page-content article,
  .landing-page-content .button-toolbar {
    margin-right: 0;
  }

  .landing-page .table-of-content-section {
    padding: 8px;
    position: relative;
  }

  .instruction-template .table-of-content-section {
    display: none;
  }

  .instruction-article,
  .instruction-template-nav {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .hide-small {
    display: none;
  }

  .landing-title {
    font-size: 2rem;
  }
}
